body{
    background: #a9a9a9;
    text-align: center;
}
.container{
    font: 400 1.2rem/1.5rem "Monospace";
    border-radius: 6px;
    background: #5a5a5a;
    display: inline-block;
}
.container p span{
    margin: 0 5px;
    padding: 0 5px;
}
.animal{
    color: #aaddf0;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}
.bush{
    color: #00a500;
    font-size: 1rem;
}
