body{
    background: #a9a9a9;
    text-align: center;
}
.container{
    font: 400 1.2rem/1.5rem "Monospace";
    border-radius: 6px;
    background: #5a5a5a;
    display: inline-block;
}
.container p span{
    margin: 0 5px;
    padding: 0 5px;
}
.animal{
    color: #ffffff;
    font: 400 1rem/1rem "Monospace";
    padding: 0;
    margin: 0;
}
.brash{
    
    font: 400 1rem/1rem "Monospace";
}
.fa{
    color: #00a500;
}
