body {
    background: #a9a9a9;
    text-align: center;
}
p {
    margin: 0;
    padding: 0;
}
.progress-health {
    background-color: #ff0000;
}
.progress-satiety {
    background-color: #0000ff;
}
.container {
    border-radius: 6px;
    background: #5a5a5a;
    display: inline-block;
}
span:before, span:after{
    padding: 0;
    margin: 0;
    height: 35px;
}
li {
    display: inline-block;
    width: 35px;
    height: 35px;
    font-size: 18px;
    padding: 0;
    margin: 0;
}
.fruit {
    color: coral;
    background: url("svg/fruits.svg");
    /*font-size: 10px;*/
}

.deer {
    color: #aaddf0;
    background: url("svg/zoo.svg");
    /*font-size: 20px;*/

}
.spring {
    background: url("svg/spring.svg");
}
.bush {
    color: #00a500;
    background: url("svg/plant.svg");
    /*font-size: 20px;*/
}
.tree {
    color: #daad00;
    background: url("svg/tree.svg");
    /*font-size: 25px;*/
}